<launch>
   <!-- joy node -->
   <node respawn="true" pkg="joy"
        type="joy_node" name="turtle_joy" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
   </node>

   <node pkg="teleop_a" type="tank_speeds.py" name="tank_speeds"/>
   <node pkg="teleop_a" type="duty_cycle.py"  name="duty_cycle"/>
   <node pkg="teleop_a" type="motor_control_b.py" name="motor_control_b"/>
</launch>
