<launch>
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="initial_reset" value="true" />
        <!-- For RealSense IMU Info -->
        <arg name="enable_gyro" value="true" />
        <arg name="enable_accel" value="true" />
        <arg name="enable_pointcloud" value="true" />
        <arg name="unite_imu_method" value="linear_interpolation" />
        <arg name="align_depth" value="true" />
    </include>
    <rosparam> /camera/motion_module/global_time_enabled: false </rosparam>

    <node pkg="imu_complementary_filter" type="complementary_filter_node" name="complementary_filter_gain_node" output="screen">
        <param name="use_mag" value="false" />
        <param name="publish_tf" value="false" />
        <param name="world_frame" value="enu" />
        <remap from="/imu/data_raw" to="/camera/imu" />
        <remap from="/imu/data" to="/rtabmap/imu" />
    </node>

    <node pkg="tf" type="static_transform_publisher" name="camera_link_transform"
        args="0 0 0 0 0 0 base_link camera_link 0.001" />

    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
        <arg name="rtabmap_args" value="--delete_db_on_start --Optimizer/GravitySigma 0.3" />
        
        <arg name="camera_info_topic" value="/camera/color/camera_info" />
        <arg name="rgb_topic" value="/camera/color/image_raw" />
        <arg name="depth_topic" value="/camera/aligned_depth_to_color/image_raw" />
        <arg name="imu_topic" value="/rtabmap/imu" />
        
        <arg name="wait_imu_to_init" value="true" />
        <arg name="approx_sync" value="false" />

        <arg name="publish_tf_odom" value="true" />
        <arg name="frame_id" value="base_link" />
        <arg name="publish_tf_map" value="true"/>

    </include>
</launch>

